.clear { clear: both; }

body{
	margin: 0;
	padding: 10px;
	padding-top: 55px;
}

header{
	padding: 0 18px;
	background: #000;
	border-radius: 0 34px 34px 0;
	color: #EEE;
	position: absolute;
	left: 0;
	top: 10px;
	display: inline-block;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	overflow: hidden;
	white-space: nowrap;
	-webkit-transition-duration: 300ms;
	-moz-transition-duration: 300ms;
	-o-transition-duration: 300ms;
}

header a{
	color: #FFF;
	text-decoration: none;
	-webkit-transition: 300ms color;
	-moz-transition: 300ms color;
	-o-transition: 300ms color;
}

header a:HOVER{
	color: #008dbe;
}

header h1{
	font-size: 50px;
	display: inline-block;
	font-weight: bold;
	color: #EEE;
	/*padding: 0 8px;*/
	margin: -8px 12px -9px 0;
	vertical-align: middle;
	line-height: 50px;
}

header em{
	vertical-align: middle;
	color: #AAA;
}

header #socialz{
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	width: 210px;
}

header #socialz > *{
	vertical-align: middle;
}

header:hover{
	padding-right: 80px;
}

header .button{
	display: inline-block;
	width: 25px;
	height: 25px;
	border-radius: 12px;
	background: #555;
	vertical-align: middle;
}
header .button + span{
	display: none;
}
header .button:hover + span{
	display: inline;
}

#back-to-lab-button {
	position: fixed;
	bottom: 10px;
	right: 10px;
	text-decoration: none;
	font-size: 20px;
}